<%- include header.html -%>

<div id="admin" class="container">

    <form id="insertStudent" action="/insertStudent" method="post"> 
        <h1><b>Student Registration</b></h1>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="sName" required>
        </div>
        <div class="form-group">
            <label>Institution</label>
            <input class="form-control" name="sInstitution" required>
        </div>
        <div class="form-group">
            <label>Class (1-12)</label>
            <input class="form-control" name="sClass" required>
        </div>
        <div class="form-group">
            <label>Gender</label>
            <input class="form-control" name="sGender" required>
        </div>
        <div class="form-group">
            <label>Location</label>
            <input class="form-control" name="sLocation" required>
        </div>
        <div class="form-group">
            <label>Contact No.</label>
            <input class="form-control" name="sContact" required>
        </div>
         <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="sUser" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="sPassword" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<%- include footer.html -%>
