  <%- include header.html -%>

    <div id="about">
      <div class="container" id="main">
        <div class="left col-sm-6 col-xs-12">
          <h1>I am a...</h1>
        </div>
        <div class="right col-sm-6 col-xs-12">
            <a href="#" >
                <div class="row up">
                        <h1>Teacher</h1>                  
                </div>
            </a>
            <a href="#" >            
                <div class="row down">
                        <h1>Student</h1>               
                </div>
            </a>
        </div>
      </div>
    </div>
    
  <%- include footer.html -%>