<%- include header.html -%>

    <section id="student" class="container">
        <h1><b><%= items.name %>'s Panel</b></h1>
        <div class="row">
                    <br>
                    <h4><%= items.institution %></h4>
                    <h4>Class <%= items.class %></h4>
                    <h4><%= items.gender %></h4>
                    <h4><%= items.location %></h4>
                    <h4><%= items.contact %></h4>
                    <a href="/teacherlist" class="btn btn-my btn-block">Find Tutor</a>
                    <!--<a href="" class="btn btn-my btn-block">Chat</a>-->
        </div>

    </section>
    

<%- include footer.html -%>