<%- include header.html -%>

    <section id="teacher" class="container">
        <h1><b><%= items.name %>'s Panel</b></h1>
        <div class="row">
                <!--<div class="col-xs-12">-->
                    <img class="img img-circle" src="<%- items.pic %>" height="250px" width="250px" alt="">
                    <br>
                    <h4><%= items.university %></h4>
                    <h4><%= items.major %></h4>
                    <h4><%= items.location %></h4>
                    <h4>I can teach <%= items.subjects %></h4>
                    <h4><%= items.bio %></h4>
                    <h4><%= items.contact %></h4>
                    
                <!--</div>  -->
        </div>
    </section>

<%- include footer.html -%>